$white:          #fff;
$darken-white:   #ddd; // <- TODO: the variable needs to be set in the stylesheets.
$lighten-gray:   #ccc; // <- TODO: the variable needs to be set in the stylesheets.
$light-blue:     #4596f1;
$gray:           #999999;
$yellow:         #ffd040;
$orange:         #ff8b1a;
$red:            #FF0000;
$darker-red:     #c93232; // <- TODO: the variable needs to be set in the stylesheets.
$pink:           #ff4db6;
$dark-pink:      #7a052e;
$black:          rgba(0, 0, 0, .2);