$white:          #fff;
$light-blue:     #4596f1; // <- TODO: the variable needs to be set in the stylesheets.
$gray:           #999999; // <- TODO: the variable needs to be set in the stylesheets.
$yellow:         #ffd040;
$orange:         #ff8b1a;
$red:            #FF0000;
$darker-red:     #c93232; // <- TODO: the variable needs to be set in the stylesheets.
$pink:           #ff4db6;
$dark-pink:      #7a052e;